@import "~@angular/material/theming";
@import "../../../theme";

.file-request-container {
  margin: 2rem auto;
  max-width: 800px;
}

.files-subheader {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -54px !important;
}

.qr-code {
  // border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.dropzone-preview {
  background-image: none;
  height: auto !important;
  // @include mat-elevation(2);

  &:focus {
    background-color: $dark-focused;
    background-image: none;
  }

  &:hover {
    background-color: $dark-focused;
    background-image: none;
  }
}

.dropzone-file-icon {
  height: 80px;
  width: auto;
  margin: 8px;
}

.dropzone-filename-text {
  display: block;
  overflow: hidden;
  font-size: 0.9rem;
  height: 1.2rem;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropzone-error-text {
  color: $file-sharing-app-error-color;
  display: block;
  overflow: hidden;
  font-size: 0.8rem;
  height: 1.2rem;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
