<mat-toolbar color="primary">
  <mat-toolbar-row>
    File Sharing
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group backgroundColor="primary" mat-align-tabs="center" (selectedIndexChange)="selectedTabChanged($event)">
  <mat-tab label="Empfangen">
    <ng-template matTabContent>
      <app-incoming-requests></app-incoming-requests>
    </ng-template>
  </mat-tab>
  <mat-tab label="Senden">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Neueste Dateien">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>

<button *ngIf="selectedTabFabIcon[selectedTab]" class="fsa-fab" mat-fab (click)="fabClicked($event)">
  <mat-icon>{{ selectedTabFabIcon[selectedTab] }}</mat-icon>
</button>
