<h1 mat-dialog-title>Neues FileRequest</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field class="dialog-field">
      <input matInput placeholder="Titel" [(ngModel)]="this.data.title">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="dialog-field">
      <textarea matInput cdkTextareaAutosize placeholder="Nachricht" required="false" [(ngModel)]="this.data.message">
      </textarea>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-flat-button [mat-dialog-close]="data" cdkFocusInitial>Erstellen</button>
</div>
