<ng-container *ngIf="this.fileRequests$ | async; let fileRequests">
  <mat-action-list>
    <ng-container *ngIf="this.filterFavorites(fileRequests); let favorites">
      <h3 matSubheader>Favoriten</h3>
      <ng-container *ngFor="let favorite of favorites">
        <ng-container *ngTemplateOutlet="listItem;context:{fileRequest:favorite}"></ng-container>
      </ng-container>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngFor="let nonFavorite of this.filterNonFavorites(fileRequests)|orderBy:'-updatedAt'">
      <ng-container *ngTemplateOutlet="listItem;context:{fileRequest:nonFavorite}"></ng-container>
    </ng-container>
  </mat-action-list>

  <ng-container *ngIf="fileRequests.length === 0">
    <div class="no-file-requests">
      <p>Keine FileRequests</p>
      <button mat-raised-button (click)="this.noFileRequestButtonClicked()">
        {{ type === 'incoming' ? 'Erstelle eines!' : 'Importiere eines!' }}
      </button>
    </div>
  </ng-container>
</ng-container>

<mat-progress-spinner *ngIf="!loaded" mode="indeterminate" class="loading-spinner" diameter="64"></mat-progress-spinner>

<ng-template #listItem let-fileRequest="fileRequest">
  <mat-list-item [routerLink]="['file-requests', fileRequest.id]">
    <h4 matLine class="primary-text">{{fileRequest.title}}</h4>
    <p matLine class="secondary-text">
      {{ fileRequest.isIncoming ? 'Empfangene' : 'Gesendete'}} Dateien: {{ (fileRequest.files || []).length }}
      {{ fileRequestNames[fileRequest.id] ? (fileRequest.isIncoming ? 'von ' : 'an ') + fileRequestNames[fileRequest.id] : '' }}
    </p>
    <p matLine class="secondary-text">
      Erstellt: {{ fileRequest.createdAt|date:'short' }} • Aktualisiert: {{ fileRequest.updatedAt|date:'short' }}
    </p>
    <button mat-icon-button (click)="toggleFavorite(fileRequest)">
      <mat-icon>{{ fileRequest.isFavorite ? 'star' : 'star_border' }}</mat-icon>
    </button>
  </mat-list-item>
</ng-template>
